/* General Styles */
:root {
    --primary-color: #333;
    --secondary-color: #555;
    --background-color: #f4f4f4;
    --text-color: #333;
    --white-color: #fff;
    --blue-color: blue;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header Styles */
header {
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.Real-Nav ul li a {
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.Real-Nav ul li a:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Section Styles */
section {
    padding: 40px;
    margin: 40px 0;
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

form input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

/* Contact Form Styles */
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.contact-form input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 2.5px 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Projects Styles */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.project {
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: var(--white-color);
    margin-bottom: 20px;
}

.project h3 {
    margin-top: 0;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
    color: var(--background-color);
    background-color: var(--secondary-color);
}

.project p {
    font-size: 0.9em;
    color: var(--secondary-color);
}

/* Profile Picture Styles */
.profile-pic {
    display: block;
    margin: 20px auto;
    border-radius: 50%; /* This makes the picture circular */
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Centered Text Styles */
.center {
    text-align: center;
}

/* Phone Styles */
.phone {
    text-align: center;
    font-size: large;
    padding: 2px;
}

.linkedin {
    margin: auto;
    border-radius: 50%; /* This makes the picture circular */
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.github { 
    margin: auto;
    border-radius: 75%; /* This makes the picture circular */
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.devpost {
    margin: auto;
    border-radius: 75%; /* This makes the picture circular */
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.social-links nav {
    list-style-type: none;
    padding: 0;
}
.social-links nav a {
    display: inline-block;
    margin-right: 10px;
}

